input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background: #2eb85c;
  color: #fff;
  border: 1px solid #2eb85c;
  border-radius: 6px;
  transition: .3s ease-in-out;
  &:hover {
    background: transparent;
    color: #2eb85c;
  }
}
.info-text {
  color: rgb(173, 173, 42);
}
.show-preview-images {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 20px;
  .preview-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}